.card2:hover {
    cursor: pointer;
    background-color: rgba(155,81,255,255) !important;
    border: 2px solid rgba(155,81,255,255)  !important;
    transform: translateY(3px);
 }
 
 .card2:hover  .cbtn{
    border: 2px solid white !important;
 }
 
 .card2:hover  .colortext{
    color: white !important;
 }
 
 